.checkoutSummary {
    text-align: center;
    width: 100%;
    margin: 10px auto 0;
    float: left;
}

.checkoutSummary .burger {
    width: 80% !important;
    margin: 20px 10% 0 !important;
    height: 350px !important;
}

@media (min-width: 600px) {
    .checkoutSummary {
        width: 50%;
    }
}